<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <p class="large text-muted">
                    Ni kan nå värdarna på följande address (brudparet har inte tillgång till den):
                        <a href="mailto:emma.sebastian.16.05.2020@gmail.com">{{ site.email }}</a>
                        </p>
                    <p class="large text-muted">
                    Där kan ni exempelvis meddela om ni vill hålla något tal eller göra något annat kul under festen. Det går givetvis också bra att hitta på något spontant under kvällen!
                        </p>

                    <h2 class="section-heading">O.S.A</h2>
                    <p class="large text-muted">
                    Meddela senast <a href="https://sv.wikipedia.org/wiki/Pi-dagen"><span class="computer-modern">π</span>-dagen</a> (14/3) ifall du/ni kan komma genom att fylla i formuläret nedan.
                    <p class="large text-muted">
                    Gör det gärna även ifall ni inte har möjlighet att komma så att vi vet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfw57qWD0vlU8XSbGPA7xyFHlEm_IUyu0I9tA0iqLuAbPG6-A/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
</section>
