<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <p class="large text-muted">
                    Ni kan nå värdarna på följande address (brudparet har inte tillgång till den):
                        <a href="mailto:emma.sebastian.16.05.2020@gmail.com">{{ site.email }}</a>
                        </p>
                    <p class="large text-muted">
                    Där kan ni exempelvis meddela om ni vill hålla något tal eller göra något annat kul under festen. Det går givetvis också bra att hitta på något spontant under kvällen!
                        </p>

                    <h2 class="section-heading">O.S.A</h2>
                    <p class="large text-muted">
                    Kontakta oss via mail, antingen direkt till brudparet eller till värdarna på <a href="mailto:emma.sebastian.16.05.2020@gmail.com">{{ site.email }}</a> och berätta ifall ni kan komma. Senast den 16:e maj vill vi ha ert svar.
                    Gör det gärna även ifall ni inte har möjlighet att komma så att vi vet.</p>
                </div>
            </div>
        </div>
</section>
