
<section id="welcome" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Välkomna på bröllop!</h2>

                <div class="large text-muted">
                    <p class="large">Varmt välkomna till vårt bröllop! Den ursprungliga planen var att gifta sig den 16:e maj, men på grund av den rådande situationen med corona så har vi flyttat fram bröllopet. Så nu gifter vi oss den 12:e september i Långaryds Kyrka.</p>
                    <p class="large">Det vill vi såklart fira tillsammans med er!</p>
                    <p class="large">Fortsätt längre ned på sidan för mer information.</p>
                </div>
            </div>
            <div class="col-lg-6 pic">
                <img src="img/berg.jpg" class="img-responsive" alt="image-alt">
            </div>
        </div>
    </div>
</section>
